.navbar {
  flex: 1;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav {
  list-style: none;
  height: auto;
}
.nav-item {
  margin: 20px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.btn-blue {
  background-color: steelblue;
}

.btn-orange {
  background-color: orange;
}

.btn-group {
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  display: inline-grid;
  width: 100%;
}

label {
  display: block;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover:not(:disabled) {
  opacity: 0.66;
}

button:disabled {
  background-color: #ffffff20;
  cursor: default;
}

.container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  position: absolute;
  outline: 2px solid red;
  height: 300px;
  width: 500px;
}
.blue {
  position: relative;
  outline: 2px solid blue;
  visibility: hidden;
}
.circle {
  position: absolute;
  border-radius: 50000px;
  height: 50px;
  width: 50px;
  background: lime;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
